%bubble {
  position: relative;
  background: #441ac0;
  border-radius: .4em;
  color: white;
  padding: 10px;
  flex: 1 1 auto;
  height: 90px;
  font-size: 18px;
}

%bubbleAfter {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.75em solid transparent;
  border-bottom: 0;
  margin-top: -0.375em;
}

.bubbleLeft {
  @extend %bubble;
  margin-left: 20px;
  &:after {
    @extend %bubbleAfter;
    left: 0;
    top: 50%;
    border-right-color: #441ac0;
    border-left: 0;
    margin-left: -0.75em;
  }
}

.bubbleRight {
  @extend %bubble;
  margin-right: 20px;
  &:after {
    @extend %bubbleAfter;
    right: 0;
    border-left-color: #441ac0;
    border-right: 0;
    margin-right: -0.75em;
  }
}