%comment {
  display: flex;
  overflow: hidden;
  margin: 5px;
}

.commentLeft {
  @extend %comment;
}

.commentRight {
  @extend %comment;
  flex-direction: row-reverse;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-style: italic;
  align-items: center;
}

.eventName {
  flex: 0 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.eventLocation {
  flex: 1 0 auto;
  margin-left: 0.5em;
}

.dateTime {
  font-style: normal;
  font-weight: bold;
  flex: 1 0 auto;
  margin-left: 10px;
  text-align: right;
  font-size: 13px;
}