.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  border-radius: 50%;
  border: 2px solid black;
  width: 70px;
  height: 70px;
}

.name {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}