@import './_colors.scss';

.root {
  display: flex;
  flex-direction: column;
}

.photo {
  object-fit: cover;
  height: 100%;
  overflow: hidden;
}

%caption {
  font-size: 18px;
  background-color: $bubbleColor;
  padding: 13px 10px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

.header {
  @extend %caption;
  border-top-left-radius: .4em;
  border-top-right-radius: .4em;
  font-weight: bold;
}

.footer {
  @extend %caption;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  font-style: italic;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}