@import './_colors.scss';

.mapContainer {
  height: 100%;
  flex: 1 1 auto;
  cursor: grab;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: $oceanBlue;
  display: flex;
  flex-direction: column;
  margin: 0 3px;
}

.mapLabel {
  font-size: 5px;
  padding-left: 5px;
}

.title {
  padding: 0 10px;
  font-size: 24px;
  font-weight: bold;
  background: white;
  display: flex;
}

.toggle {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
}

:global(.rsm-geography--pressed) {
  outline: none;
}

:global(.rsm-geography--pressed) {
  outline: none;
}

:global(.rsm-geography--hover) {
  color: initial;
}