.root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.list {
  height: 100%;
  flex: 1 1 auto;
  padding-top: 26px;
}

.buttonContainer {
  margin-top:10px;
}

.button {
  width: 100px;
  margin-left: 10px;
}

.header {
  display: flex;
}

.fixed {
  padding-top: 46px;
}